<!DOCTYPE html>
<!--latest update 09/29/22-->
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> like button </title>
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  <link rel="stylesheet" type="text/css" href="Style.css">
  <title>HACKER NEWS</title>
</head>
<body style="background-color:#f5f5f5">
 <form class "grid" action ="/Liked" method = "POST">
	 <center>
	</center>
	<input type = "button" name = "likeButton" value  = "like">
	</form>
		
                <p>Name:</p>
                <p>Email:</p>
                <p><input type = "text" name = {{session.userinfo.name}} /></p>
                <p><input type = "text" email = {{session.userinfo.email}} /></p>
                <p><input type = "submit" value = "submit"/</p>
        </form>

  <header>
      <nav id="n1">
        <img id="logo" src="Images/LogoMK.jpg" width="170" height="85"> &nbsp;&nbsp;
	 <a href="news.html">Refresh</a> &nbsp;&nbsp;
        <a href="news.html">Refresh Page</a> &nbsp;&nbsp;
        <a href="https://www.noahwilliamshaffer.com/logout">log out</a> &nbsp;&nbsp; 

	<form method = "post"action = "/Like">
		{{form.hidden_tag()}}
		<fieldset class = "form-group">
			<legend> Join Today</legend>
			<div class = "form-group">
			
				{{form.title.label(class = "form-control form-control-label") }} 
				 {{form.title(class = "form-control form-control-lg") }}
			</div>
			</fieldset>	
		<p>Name:</p>
		<p>Email:</p>
		<p><input type = "text" name = {{session.userinfo.name}} /></p>
		<p><input type = "text" email = {{session.userinfo.email}} /></p>
		<p><input type = "submit" value = "submit"</p>
	</form>
	<h1>Welcome {{session.userinfo.name}}!</h1>
	<p><input type="submit" value = "Like" /></p>

	{% for x in range(0,30)%}
		<h3><a href="{{urls_arr[x]}}">{{titles_arr[x]}}</a> <button class = "like_btn">
                <span id ="icon"> <i class="fa-regular fa-thumbs-up"></i> </span>
                <span id = "count"> 0 </span> like
        </button><h3>
        </button>

     	<form class "grid" action ="" method = "POST">
         <center>
        </center>
	    <input type="hidden" value={{titles_arr[x]}} name="title">
	    <input type="hidden" value={{urls_arr[x]}} name="urls">
	    <input type="hidden" value={{session.userinfo.name}} name="name">
	    <input type="hidden" value={{session.userinfo.email}} name="email">
	    <input type="submit" name="like"  value="like">
        </form>
       	 	 {% endfor%}
      </nav>

   
      </nav>
  </header>
  <div id="contactform">
<h1> HackerNews login</h1>
<a href="database.html">Database</a> &nbsp;&nbsp;
</div>
</body>
</html>
